.product-container {
    padding: 3%;
}

.title {
    margin-bottom: 2%;
}

.button {
    margin: 5px;
}

.input {
    margin: 5px 0px;
}

.table > thead > tr > th, 
.table > tbody > tr > td {
    vertical-align: middle;
}

.table > thead > tr > th {
    text-align: center;
}

.table > tbody > tr > td {
    padding-left: 20px;
}

.table > tbody > tr > td:first-child,
.table > tbody > tr > td:last-child {
    padding: 0px;
    text-align: center;
}