/fundamental/.vscode
/front-end/intro_react/node_modules
/front-end/json-practice/node_modules
/front-end/redux-practice/node_modules
/front-end/shoes-shop/node_modules
/front-end/review_frontend/node_modules
/back-end/http_and_express_intro/node_modules
/back-end/review_api/node_modules
/back-end/review_api/.env
/back-end/api_jcwm13_bsd-jkt/node_modules
/back-end/api_jcwm13_bsd-jkt/.env
/back-end/fullstack-app/node_modules
/back-end/mongodb/node_modules
/back-end/mongodb/.env
/back-end/api_ujian_backend_jcwm13/node_modules
/back-end/api_ujian_backend_jcwm13/.env
/mobile/news/node_modules
/mobile/rn_courses/node_modules
/mobile/rn_review/node_modules
/mobile/shoes/node_modules
/mobile/shoes-api/node_modules