/fundamental/.vscode
/front-end/intro_react/node_modules
/front-end/json-practice/node_modules
/front-end/redux-practice/node_modules
/front-end/shoes-shop/node_modules
/front-end/review_frontend/node_modules
/back-end/http_and_express_intro/node_modules
/back-end/review_api/node_modules
/back-end/review_api/.env
